<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="lib/vue.min.js"></script>
    <script src="lib/vant.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/index.js" defer></script>
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/index.css">
    <title>学工宝服务中心</title>
</head>
<body>
<div id="root" style="margin-top: 0;"></div>
<template id="template">
    <header>
        <van-nav-bar title="学工宝服务中心" left-text="返回" left-arrow>
            <template #left>
                <van-icon name="contact" size="20px" color="#323233" @click="commonTools.router.to('profile.html')"></van-icon>
            </template>
            <template #right>
                <van-icon name="chat-o" size="20px" color="#323233" :dot="false" @click="viewNotice"></van-icon>
            </template>
        </van-nav-bar>
    </header>
<!--    <section>-->
<!--        <van-notice-bar left-icon="volume-o" :text="notice"></van-notice-bar>-->
<!--    </section>-->
    <section>
        <van-cell-group class="card" inset>
            <span class="title">校园服务</span>
            <van-grid clickable :column-num="4" :border="false" icon-size="26px">
                <van-grid-item
                        v-for="service in services.internal"
                        :icon="service.icon" :text="service.name" :url="service.url"
                ></van-grid-item>
            </van-grid>
        </van-cell-group>
        <van-cell-group class="card" inset>
            <span class="title">快捷入口</span>
            <van-grid clickable :column-num="4" :border="false" icon-size="26px">
                <van-grid-item
                        v-for="service in services.external"
                        :icon="service.icon" :text="service.name" :url="service.url">
                </van-grid-item>
            </van-grid>
        </van-cell-group>
        <van-cell-group class="card" inset>
            <span class="title">其他服务</span>
            <van-grid clickable :column-num="4" :border="false" icon-size="26px" class="other-service-grid">
                <van-grid-item
                        v-for="service in services.others"
                        :icon="service.icon" :text="service.name" :url="service.url">
                </van-grid-item>
                <van-grid-item icon="ellipsis" text="敬请期待"></van-grid-item>
            </van-grid>
        </van-cell-group>
    </section>
    <footer>
        <span>Copyright &copy; 2022 Lixm powered by Nodejs</span>
    </footer>
</template>
</body>
</html>