@import "weui.min.css";

body {
    background-color: rgb(241, 244, 249);
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    color: #333;
}

.nav-header > .header-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding-top: 1px;
    color: #2c2c2c;
}

.nav-header > .header-extra {
    width: 40px;
    color: #2c2c2c;
}

.nav-header svg {
    padding-bottom: 3px;
}

.weui-icon-warn {
    color: hsla(0, 0%, 100%, .9);
}

.btn-color {
    background-color: rgb(59, 108, 228);
}

.btn-color:not(.weui-btn_disabled):active {
    background-color: rgb(104, 146, 242);
}

.loading_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #fff;
    border-radius: 5px;
    margin: 8px;;
    text-align: center;
    color: #333;
}

.nodata_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 8px;;
    height: 80vh;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.nodata_wrapper img{
    width: 100%;
    height: 200px;
}