@import "../lib/vant.css";
@import "theme.css";

body {
    background-color: rgb(241, 244, 249);
    /*font-family: "PingFangB Bold", serif;*/
}

#root {
    margin-top: 15px;
}

#root .bottom-ops-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.width-90 {
    width: 90%;
}

.padding-bottom-10px {
    padding-bottom: 10px;
}

.color-grey {
    color: var(--van-card-num-color);
}

.background-white {
    background-color: #FFFFFF;
}

.nodata {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    height: 70vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: var(--van-card-num-color);
    font-size: 14px;
}

.nodata img {
    width: 100%;
    height: 200px;
}

.van-coupon-list__list .van-empty{
    display: none !important;
}

.van-grid-item__content--clickable:active {
    border-radius: 6px;
}