.content {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.list-item {
    margin-bottom: 20px;
}

.list-item > h4 {
    line-height: 2em;
}

.list-item > label, .list-item > label > input[type=radio] {
    margin-right: 5px;
}

.explain_label {
    display: block;
}

.explain_label > span {
    line-height: 2em;
}

.explain_label > input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 3px;
}

.button_wrapper {
    visibility: hidden;
}