body {
    font-size: 62.5%;
}

.content {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.selection, .button_wrapper {
    visibility: hidden;
}

.list-item {
    margin-bottom: 20px;
}

.list-item > h4 {
    line-height: 2em;
    font-size: 1.4rem;
    color: #333333;
}

input[type=radio] {
    margin-right: 5px;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.rating > label {
    width: 100%;
    margin: .5rem .1rem;
}

.explain_label {
    display: block;
}

.explain_label > span {
    line-height: 2em;
    font-size: 1.4rem;
}

.explain_label > input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    padding: .3rem .5rem;
    border-radius: 3px;
    font-size: 1.4rem;
}

.button_wrapper{
    margin-top: 2rem;
    width: 100%;
}
.button_wrapper>button{
    width: 100%;
}