.weui-cells {
    display: none;
    margin: 10px;
    border-radius: 5px;
}

.weui-cell__bd > span:nth-child(1) {
    color: #333333;
    font-size: 14px;
}

.weui-cell__bd > span:nth-child(2) {
    display: block;
    font-size: 13px;
    color: #999;
    text-align: end;
    margin-top: 6px;
}
