.card {
    margin: 10px;
    padding: 10px;
}

.other-service-grid > .van-grid-item:last-child > .van-grid-item__content--clickable:active {
    background-color: #FFFFFF;
}

.title {
    display: block;
    color: rgb(110, 110, 110);
    font-size: 13px;
    padding: 5px 10px;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
}

footer span {
    font-size: 13px;
    color: var(--van-gray-7) !important;
}