.weui-form-preview{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}

.weui-form-preview:after, .weui-form-preview:before{
    display: none !important;
}
.button_wrapper{
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    padding: 10px 0;
}