body {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}

.weui-form-preview {
    margin: 10px 10px 100px 10px;
    border-radius: 5px;
}

.weui-form-preview:after, .weui-form-preview:before {
    display: none !important;
}

.button_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.button_wrapper > button {
    margin-top: 0 !important;
}

.btn-color-red {
    background-color: rgb(250, 81, 81);
}

.weui-form-preview__bd {
    text-align: left;
    font-size: 16px;
}

.weui-form-preview__item {
    padding: 4px 0;
}