body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}
.weui-form__control-area{
    margin-top: 0;
}
.weui-cells__group_form .weui-cells::before,
.weui-cells__group_form .weui-cells::after,
.weui-cells__group_form .weui-cell:before,
.weui-cells__group_form .weui-cell:after {
    left: 16px;
    right: 16px;
}

.weui-cells__group_form .weui-cell {
    padding: 16px 16px;
}

.weui-cells__group_form .weui-cell__hd {
    padding-right: 8px;
}

.weui-textarea + .weui-cell:before {
    display: none !important;
}

.label-description {
    display: block;
    width: 100%;
    padding: 16px 16px 0 16px !important;
}

.weui-cells > .weui-cell:nth-child(5)::before,
.weui-cells > .weui-cell:nth-child(7)::before{
    display: none !important;
}
.weui-uploader__input{
    display: block;
    border: 1px seagreen solid;
}
