body{
    background-color: #efefef;
}
.weui-cells{
    border-radius: 5px;
    margin: 8px;
}
.weui-cell{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    font-size: 14px;
}
.weui-cell__bd>svg{
    display: block;
    margin-right: 10px;
}
.weui-cell>div{
    display: flex;
    justify-content: center;
    align-items: center;
}