body{
    background-color: #FFFFFF;
}
.tip{
    padding: 16px 16px;
    color: #333333;
}
.weui-form__control-area{
    margin-top: 10px;
}
.weui-cells .weui-cells_radio::before,
.weui-cells .weui-cells_radio::after{
    display: none;
}
.weui-cells__group_form .weui-cells::before,
.weui-cells__group_form .weui-cells::after,
.weui-cells__group_form .weui-cell:before,
.weui-cells__group_form .weui-cell:after{
    left: 16px;
    right: 16px;
}
.weui-cells__group_form .weui-cell{
    padding: 16px 16px;
}
.weui-cells__group_form .weui-cell__hd{
    padding-right: 8px;
}

.radio_type{
    padding: 6px 16px !important;
}
.weui-cells_radio{
    background-color: transparent !important;
}
