.user{
    display: inline-block;
    position: absolute;
}

.avatar{
    height: 8em;
    width: 8em;
    position: relative;
    left: 25%;
}

.nickname{
    font-family: "微软雅黑", serif;
    font-size: 3em;
    text-align: center;
    position: relative;
    left: 50%;
}

.back{
    font-family: "微软雅黑", serif;
    position: absolute;
    right: 5em;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
}

/* created by Hurrieam on 20220424 */